@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Young+Serif&display=swap');
body{
    font-family: 'poppins';
    display: flex;
    justify-content: center;
    background: linear-gradient(to right,rgb(26, 112, 186),rgb(247, 118, 178));
}
.container{
background-color: rgba(255,255,255,.2);
box-shadow:0 5px 15px rgb(63, 63, 63);
width: 500px;
height: 600px;
border-radius: 20px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
gap: 20px;


}
select{
    background-color: rgb(54, 139, 204);
    width:160px;
    height: 30px;
    border-radius:10px ;
    font-family: 'poppins';
    font-weight: 600;
    color: rgba(240, 233, 233, 0.922);
    padding-left: 30px;
    border: none;
}
input{
    background-color: rgb(187, 225, 254);
    width:250px;
    height: 50px;
    border-radius:10px ;
    font-family: 'poppins';
    font-weight: 600;
    color: black;
    padding-left: 30px;
    border: none;   
}
select:hover{
    background-color: rgb(174, 173, 173);
    cursor: pointer;
}
button:hover{
    background-color: rgb(24, 8, 23);
}
button{
    background-color: pink;
    height: 40px;
    width:90px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-family: 'poppins';
    color: white;
    font-weight: 600;
}
label{
   font-weight: 600;
   
}